/* Per usare un font proprietario
@font-face {
    font-family: 'Trebuchet MS';
    src: url('Trebuchet_MS.woff') format('woff');
}
*/
/*Importare font da google*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Boldonse&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p{
    font-family:'Times New Roman', sans-serif;
    font-size: 1.2em;
    font-size: 1.5vw;
}
