body{
    display: flex;
    justify-content: center;
}

.container{
    border: 3px solid green;
    width: 880px;
}

header, footer {
    text-align: center;
}

footer{
    color: darkgreen;
}

ul{
    width: 880px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    margin: 5px;
}

li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    text-decoration: none;

}

button{
    margin: 10px;
}

.overlay{
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    position: fixed;
    background-color: rgba(128,128,128,0.9);
    color: white;
    margin: 10px 0 0 0;
    font-size: 30px;
}

@media (max-width: 800px) {
    .container, ul{
		width: 480px;
	}
}
